<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
>

    <!-- Permissions -->

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.NFC"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!--
    This keeps firebase from adding the AD_ID permission, even when we don't use it.
    https://developers.google.com/android/reference/com/google/android/gms/ads/identifier/AdvertisingIdClient.Info#public-string-getid
    -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>

    <!-- Queries -->
    <!--
    Package visibility filtering: https://developer.android.com/training/package-visibility
    -->

    <queries>
        <!-- Specific apps you interact with, eg: -->
        <!-- We use this specifically to track an issue involving certain versions of the Android
         System WebView, Google Chrome and certain device models -->
        <package android:name="com.google.android.webview" />
        <package android:name="com.android.chrome" />

        <!--
         We just want to know if there's an email client available: to open it directly or degrade
          gracefully
        -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="*" />
        </intent>
    </queries>

    <!-- Application -->

    <application
            android:name="io.muun.apollo.presentation.app.${mainApplicationClass}"
            android:allowBackup="false"
            android:usesCleartextTraffic="${usesCleartextTraffic}"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
    >

        <property android:name="REQUIRE_SECURE_ENV" android:value="1" />

        <!--
        This tells Firebase analytics to not use the AD_ID.
        https://firebase.google.com/docs/analytics/configure-data-collection?platform=android
        -->
        <meta-data android:name="google_analytics_adid_collection_enabled"
                android:value="false" />
        <meta-data android:name="google_analytics_default_allow_ad_personalization_signals"
                android:value="false" />

        <!-- BlockCanary's really out-dated :(. After targeting Android 12 we need this to build -->
        <activity android:name="com.github.moduth.blockcanary.ui.DisplayActivity"
                android:exported="false" />

        <!-- LauncherActivity -->

        <activity
                android:name=".presentation.ui.launcher.LauncherActivity"
                android:exported="true"
                android:theme="@style/Theme.NoDisplay"
                android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter android:label="@string/verify_link_handler_label">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                        android:host="@string/muun_link_host"
                        android:path="@string/verify_link_path" />
            </intent-filter>

            <intent-filter android:label="@string/authorize_link_handler_label">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                        android:host="@string/muun_link_host"
                        android:path="@string/authorize_link_path" />
            </intent-filter>

            <intent-filter android:label="@string/confirm_link_handler_label">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                        android:host="@string/muun_link_host"
                        android:path="@string/confirm_link_path" />
            </intent-filter>

            <intent-filter android:label="@string/confirm_link_handler_label">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                        android:host="@string/muun_link_host"
                        android:path="@string/rc_login_authorize_link_path" />
            </intent-filter>

            <intent-filter android:label="@string/confirm_link_handler_label">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https"
                        android:host="@string/muun_link_host"
                        android:path="@string/confirm_account_deletion_path" />
            </intent-filter>

        </activity>

        <!-- SignupActivity -->

        <activity
                android:name=".presentation.ui.signup.SignupActivity"
        />

        <!-- HomeActivity -->

        <activity
                android:name=".presentation.ui.home.HomeActivity">

        </activity>

        <!-- NewOperation -->

        <activity
                android:name=".presentation.ui.new_operation.NewOperationActivity"
                android:exported="true"
                android:parentActivityName=".presentation.ui.home.HomeActivity">

            <!--
            Note: Scheme matching in the Android framework is case-sensitive, unlike the RFC.
            As a result, you should always specify schemes using lowercase letters.
            See: https://developer.android.com/guide/topics/manifest/data-element
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bitcoin"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="lightning"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="muun"/>
            </intent-filter>

        </activity>

        <!-- NfcReaderActivity -->

        <activity
                android:name=".presentation.ui.nfc.NfcReaderActivity"
                android:parentActivityName=".presentation.ui.home.HomeActivity"
                android:label="@string/nfc_reader_screen_title"/>

        <!-- OperationDetailActivity -->

        <activity
                android:name=".presentation.ui.operation_detail.OperationDetailActivity"
                android:parentActivityName=".presentation.ui.home.HomeActivity"
                android:label="@string/operation_detail_title"/>

        <!-- ShowQrActivity -->

        <activity
                android:name=".presentation.ui.show_qr.ShowQrActivity"
                android:parentActivityName=".presentation.ui.home.HomeActivity"
                android:label="@string/showqr_title"
        />

        <!-- ScanQrActivity -->

        <activity
                android:name=".presentation.ui.scan_qr.ScanQrActivity"
                android:parentActivityName=".presentation.ui.home.HomeActivity"
                android:label="@string/scanqr_title"
                android:theme="@style/ScanQrAppTheme"
        />

        <!-- FeedbackActivity -->

        <activity
                android:name=".presentation.ui.feedback.email.FeedbackActivity"
                android:parentActivityName=".presentation.ui.home.HomeActivity"
                android:label="@string/feedback_title"
        />

        <!-- SingleActionActivity -->
        <activity
                android:name=".presentation.ui.single_action.SingleActionActivity"
                android:launchMode="singleTop"
                android:label="Muun"
        />

        <!-- V2SingleActionActivity -->

        <activity
                android:name="io.muun.apollo.presentation.ui.single_action.V2SingleActionActivity"
                android:launchMode="singleTop"
        />

        <!-- DebugPanelActivity -->

        <activity
                android:name=".presentation.ui.debug.DebugPanelActivity"
                android:parentActivityName=".presentation.ui.home.HomeActivity"
                android:label="Muun debug panel"
        />

        <!-- RecoveryToolActivity -->
        <activity
                android:name="io.muun.apollo.presentation.ui.recovery_tool.RecoveryToolActivity"
                />

        <!-- DiagnosticActivity -->

        <activity
                android:name="io.muun.apollo.presentation.ui.diagnostic.DiagnosticActivity"
                />


        <!-- EditUsernameActivity -->

        <activity
            android:name=".presentation.ui.settings.edit_username.EditUsernameActivity"
            />

        <!-- SetUpPinCodeActivity -->

        <activity
                android:name="io.muun.apollo.presentation.ui.setup_pin_code.SetUpPinCodeActivity"
                />

        <!-- SecurityLogoutActivity -->

        <activity
                android:name="io.muun.apollo.presentation.ui.security_logout.SecurityLogoutActivity"
                />

        <!-- SetupRecoveryCodeActivity -->

        <activity
                android:name=".presentation.ui.recovery_code.SetupRecoveryCodeActivity"
                android:parentActivityName=".presentation.ui.home.HomeActivity"
                android:label="@string/recovery_code_title"
                />

        <!-- SelectCurrencyActivity -->

        <activity
                android:name="io.muun.apollo.presentation.ui.select_currency.SelectCurrencyActivity"
        />

        <!-- SelectCountryActivity -->

        <activity
                android:name="io.muun.apollo.presentation.ui.select_country.SelectCountryActivity"
        />

        <!-- ExportKeysActivity -->

        <activity
                android:name="io.muun.apollo.presentation.ui.export_keys.EmergencyKitActivity"
        />

        <!-- TaprootSetupActivity -->

        <activity
            android:name="io.muun.apollo.presentation.ui.taproot_setup.TaprootSetupActivity"
            />


        <!-- SelectBitcoinUnitActivity -->

        <activity
            android:name=".presentation.ui.select_bitcoin_unit.SelectBitcoinUnitActivity"
        />


        <!-- EditPasswordActivity -->

        <activity
                android:name=".presentation.ui.settings.edit_password.EditPasswordActivity"
        />

        <!-- SetupP2PActivity -->

        <activity
                android:name="io.muun.apollo.presentation.ui.setup_p2p.SetupP2PActivity"
        />

        <activity
                android:name=".presentation.ui.send.SendActivity"
        />

        <activity
                android:name=".presentation.ui.setup_password.SetupPasswordActivity"
                />

        <!-- SuccessDeleteWalletActivity -->

        <activity
            android:name=".presentation.ui.settings.success_delete_wallet.SuccessDeleteWalletActivity"
            />

        <activity
                android:name=".presentation.ui.feedback.anon.AnonFeedbackActivity"
                android:parentActivityName=".presentation.ui.home.HomeActivity"
                android:label="@string/feedback_title"
                />

        <activity
                android:name=".presentation.ui.migration.MigrationActivity"
                />

        <!--   OperationsActivity   -->
        <activity
                android:name=".presentation.ui.activity.operations.OperationsActivity"
                />

        <activity
                android:name=".presentation.ui.base.SingleFragmentActivityImpl"
                />

        <activity
                android:name=".presentation.ui.select_amount.SelectAmountActivity"
                />

        <!-- SelectNightModeActivity -->

        <activity
                android:name=".presentation.ui.select_night_mode.SelectNightModeActivity"
                />

        <!-- LnUrlIntroActivity -->

        <activity
                android:name=".presentation.ui.lnurl.intro.LnUrlIntroActivity"
                />

        <!-- LnUrlWithdrawConfirmActivity -->

        <activity
                android:name=".presentation.ui.lnurl.withdraw.confirm.LnUrlWithdrawConfirmActivity"
                />

        <!-- LnUrlWithdrawActivity -->

        <activity
                android:name=".presentation.ui.lnurl.withdraw.LnUrlWithdrawActivity"
                />

        <!-- HighFeesExplanationActivity -->

        <activity
                android:name=".presentation.ui.high_fees.HighFeesExplanationActivity"
                />


        <!-- GcmMessageListenerService -->

        <service
                android:name=".data.async.gcm.GcmMessageListenerService"
                android:exported="false">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>

        <!-- Metadata -->

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"
        />

        <!-- Providers -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.cache.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">

            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths" />
        </provider>

        <!--
        Disable WorkManagerInitializer to avoid auto workmanager initialization (use custom). See:
        https://developer.android.com/topic/libraries/architecture/workmanager/advanced/custom-configuration

        Since WorkManager 2.6, App Startup is used internally within WorkManager. To provide a
        custom initializer you need to remove the androidx.startup node.
        See: https://developer.android.com/topic/libraries/app-startup

        UPDATE: We're using ProcessLifecycleOwner. WorkManager and ProcessLifecycleOwner both use
         androidx.startup. So we need to disable the default initializer for WorkManager without
          disabling androidx.startup altogether. See: https://stackoverflow.com/a/74902862/901465
        -->
        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false"
                tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                    android:name="androidx.work.WorkManagerInitializer"
                    android:value="androidx.startup"
                    tools:node="remove" />
        </provider>

        <!-- Receivers -->

        <receiver
                android:name=".data.os.sharer.FileSharerReceiver"
                android:exported="false"
                tools:targetApi="lollipop_mr1" />

    </application>

</manifest>
