name: build-release
on:
  push:
    tags:
      - v*

# Note: we'll reference actions by commits for 'reproducibility sakes' (we don't
# want an action author to change the tag reference and break our reproducibility).

jobs:
  build-release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write  # Required to create releases
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 # Matches tag v3.0.0
        # https://github.com/docker/setup-buildx-action/releases/tag/v3.0.0

        with:
          buildkitd-flags: --debug

      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # Matches tag v4.1.1
        # https://github.com/actions/checkout/releases/tag/v4.1.1

      - name: Create output dir
        run: |
          mkdir -p apk

      - name: Build
        uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 # Matches tag v5.0.0
        # https://github.com/docker/build-push-action/releases/tag/v5.0.0

        with:
          file: android/Dockerfile
          context: .
          outputs: apk

      - name: Upload APK
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # Matches tag v4.3.3
        # https://github.com/actions/upload-artifact/releases/tag/v4.3.3

        with:
          name: apk
          path: apk/apolloui-prod-*-release-unsigned.apk

      - name: Upload mapping
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # Matches tag v4.3.3
        # https://github.com/actions/upload-artifact/releases/tag/v4.3.3

        with:
          name: mapping
          path: apk/mapping.txt

      - name: draft-gh-release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # Matches tag v2.4.2
        # https://github.com/softprops/action-gh-release/releases/tag/v2.4.2
        with:
          draft: true
          prerelease: true
          files: |
            apk/apolloui-prod-*-release-unsigned.apk
            apk/mapping.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
